*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

.main-heading h2{
    margin-bottom: 20px;
}
 
button{

    display: inline-block;
    background: yellow;
    text-align: center;
    border-radius: 10px;
    width: 8vw;
    height: 10vh;
}
img{
    width: 20vw;
    height: 40vh;
    border-radius: 100px;

}
